#--------------------
#vérifié
#--------------------
#python==3.9.6
#python==3.8.8
pandas==1.1.2
numpy==1.19.5
#plotly==4.14.3
plotly
#scikit-learn==0.23.2
#seaborn==0.11.1
seaborn
#matplotlib==3.3.4
matplotlib
pandas==1.1.2
#pickle-mixin==1.0.2
#pickle==4.0
shap==0.39.0
streamlit==0.87.0
#--------------------
lightgbm
